{
  "root": true,
  "env": {
    "browser": false,
    "node": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double", {
      "allowTemplateLiterals": true
    }],
    "indent": "off",
    "@typescript-eslint/indent": ["error"],
    "@typescript-eslint/no-var-requires": "off"
  }
}
